
h1 {
  color: rgb(224, 94, 29);
  margin: 4rem;
  font-size: 7rem;
  font-weight: bold;
  font-family: serif;
  text-decoration: overline;
}

img {
  margin: 0 auto;
}

[class*=block] {
  font-weight: bolder;
  margin: 2rem auto;
  font-size: 3rem;
}

[class*=text-danger] {
  line-height: 3rem;
}

[type*=button] {
  font-weight: bolder;
  margin: 2rem auto;
  font-size: 3rem;
}

span {
  color: rgb(237, 157, 106);
  font-family: monospace;
  line-height: 3rem;
}

a{
  color: rgb(75, 52, 12);
}

p3 {

}
