
h1 {
  color: rgb(224, 94, 29);
  margin: 4rem;
  font-size: 7rem;
  font-weight: bold;
  font-family: serif;
  text-decoration: overline;
}

p.body {
  color: rgb(224, 139, 77);
  font-style: italic;
  font-size: 2rem;
}

h2.ing {
  color: orange;
}

h2.directions {

}

img {
  margin: 0 auto;
}



[class*=text-danger] {

}

[class*=block] {
  font-weight: bolder;
  margin: 2rem auto;
  font-size: 3rem;

}

span {
  color: rgb(237, 157, 106);
  font-family: monospace;
  line-height: 3rem;
}
