h1.head {
  color: brown;
  font-family: sans-serif;
  padding: 2rem;
  border: 1px solid rgb(246, 157, 5);
  border-radius: 5px;
}

p.body {
  color: rgb(232, 213, 130);
  font-style: italic;
  font-size: 1.9rem;
}

h2.ing {
  color: orange;
}

img {
  margin: 0 auto;
}

span {
  color: rgb(237, 157, 106);
  font-family: monospace;
  line-height: 3rem;
}

a {
  color: rgb(75, 52, 12);
}

[class*=text-danger] {
  line-height: 3rem;
}

[type*=button] {
  color: rgb(237, 157, 106);
  font-family: monospace;
  font-weight: light;
  margin: 2rem auto;
  font-size: 1.5rem;
  word-spacing: 1.5rem;
  letter-spacing: 0.4rem;
}
